@font-face {
    font-family: tanMerengue-black;
    src: url(./fonts/TAN\ -\ MERINGUE.woff);
}

@font-face {
    font-family: glacialIndifference-black;
    src: url(./fonts/GlacialIndifference-Regular.otf);
}

@font-face {
    font-family: glacialIndifference-bold;
    src: url(./fonts/GlacialIndifference-Bold.otf);
}

/* Global Styles */
body {
    font-family: glacialIndifference-black;
    padding: 0;
    background-color: #d4d2e7;
    color: #333;
    margin: 100px auto;
    margin-bottom: 0px !important;
    max-width: 1250px;
    padding: 0 40px;
    display: flex;
    flex-direction: column;
}

.footer-1 {
    text-align: center;
    margin-top: 50px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: tanMerengue-black !important;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Intro Section */
.intro-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0px;
    background-color: #d4d2e7;
}

.intro-content {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 490px;
    padding-right: 20px;
    height: 100%;
}

.intro-content h1 {
    font-size: 3.5rem;
    font-family: 'Playfair Display', serif;
    color: #2e2e2e;
    margin-bottom: 20px;
}

.intro-content p {
    font-size: 1.4rem;
    color: #555;
    margin-bottom: 30px;
    margin-top: 0px;
}

/* Contact Button */
.contact-btn {
    padding: 15px 30px;
    background-color: #8e5572;
    color: white;
    border: none;
    border-radius: 30px;
    font-size: 1.4rem;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    width: 115px;
    text-align: center;
    border: 2px solid #8e557300;
}

.contact-btn:hover {
    background-color: transparent;
    color: #8e5572;
    border: 2px solid #8e5572;
}

/* Intro Image and Box */
.intro-image-wrapper {
    max-width: 350px;
    padding-left: 45px;
}

.intro-image img {
    max-width: 100%;
    border-radius: 10px;
    filter: drop-shadow(-40px -40px 0px #8e5572);
}

/* Work Section */
.work-section-title {
    margin-top: 100px;
    font-family: 'Playfair Display', serif;
    font-size: 2.5rem;
    text-align: left;
    margin-bottom: 40px;
    color: #2e2e2e;
}

/* Project Grid */
.projects-grid {
    display: inline-flex;
    overflow: auto;
    gap: 20px;
}

.project-item {
    perspective: 1000px;
    border: 2px solid #8e5572;
    border-radius: 10px;
    overflow: hidden;
    height: 100%;
    /* Ensure the items have height */
    width: 340px !important
}

.project-inner {
    position: relative;
    width: 100%;
    height: 255px;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.project-front {
    height: 100%;
    cursor: pointer;
    position: relative;
}

.project-front a {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    transition: background-color 0.5s ease-in-out;
    border-radius: 10px;
}

.project-back {
    background-color: transparent;
    color: #2e2e2e;
    position: relative;
    width: 85%;
    margin: 0 auto;
    transition: all 0s, opacity 300ms ease-in-out;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 10%;
}

.work-section {
    overflow: auto;
}

.project-front img {
    width: 100%;
    height: auto;
    opacity: 1;
    visibility: visible;
    transition: visibility 0s, opacity 300ms ease-in-out;
}

.project-front:hover img {
    opacity: 0;
}

.project-front:hover .project-back {
    justify-content: flex-end;
    opacity: 1;
}

.project-front p.title {
    font-size: 1.3rem;
    font-family: glacialIndifference-bold !important;
    color: #333;
    width: 85%;
    margin: 0 auto;
    position: absolute;
    bottom: 10%;
    text-wrap: balance;
}

.project-back p {
    font-size: 1.3rem;
    text-align: center;
    margin: 0 !important;
    text-wrap: balance;
}

.project-back a {
    color: white;
    text-align: center;
}

.footer-1 img {
    height: 50px;
    width: 50px;
}

.intro-content>p {
    margin-top: 1rem;
}

@media (max-width: 1025px) {
    .work-section-title {
        margin-top: 50px;
        text-align: center;
    }

    .intro-content {
        margin-bottom: 50px !important;
    }

    .intro-content h1 {
        font-size: 3rem;
        margin-bottom: 0px;
    }

    .intro-content p {
        width: 80%;
    }

    .work-section {
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .work-section h2 {
        text-align: center;
    }

    .intro-section * {
        text-align: center;
        width: 70%;
        margin: 0 auto;
    }

    .intro-section {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contact-btn {
        width: 30%;
    }

    .intro-image img {
        filter: none;
    }

    .intro-image-wrapper {
        padding-left: 0px;
    }

    .project-front p.title {
        font-size: 1.2rem;
        position: relative;
        padding: 1rem 0 0 0;
    }

    .project-back p {
        font-size: 1.2rem;
    }

    .projects-grid {
        flex-direction: column;
    }

    .project-front:hover img {
        opacity: 1 !important;
    }

    .project-front .project-back {
        visibility: visible;
        justify-content: flex-end;
        height: 100%;
        position: relative;
        opacity: 1;
        padding: 1rem 0;
    }

    .project-inner {
        height: 100%;
    }
}

@media (max-width: 768px) {

    .intro-content {
        padding-right: 0px;
    }
    .intro-section * {
        text-align: center;
        width: 90%;
        margin: 0 auto;
    }

    .intro-content h1 {
        font-size: 2.5rem;
    }

    .intro-image-wrapper {
        margin-top: 30px !important;
    }

    .project-front a img,
    .project-back {
        display: block;
        /* Keep image visible */
    }

    .project-front img {
        margin-bottom: auto;
    }

    .project-front a p.title {
        font-family: glacialIndifference-bold !important;
        bottom: 4%;
    }

    .work-section {
        padding: 0 !important;
    }

    .projects-grid {
        gap: 40px !important;
    }

    .project-item {
        width: 98% !important;
        margin: 0 auto;
    }

}

@media (max-width: 450px) {
    body {
        padding: 0 25px;
    }

    .intro-section p {
        width: 100%;
    }

    .intro-section {
        width: 100%;
    }

    .project-front p.title {
        font-size: 1.5rem;
    }

    .project-back p {
        font-size: 1.5rem;
    }

    .intro-section {
        padding-top: 0 !important;
    }

    .contact-btn {
        width: 40%;
    }

    h1 {
        margin-bottom: 15px !important;
        font-size: 2.2rem !important;
    }
}

@media (max-width: 370px) {
    .intro-image img {
        display: none !important;
    }

    .work-section {
        margin-top: 100px !important;
    }
}